# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Demonstrate how to create and execute code cells in Jupyter Notebook  
- Create tables using Markdown  
- Perform basic arithmetic operations in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Negin